<!-- <p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
  </ng-template>

  <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template>
</p-toolbar> -->

<p-table [value]="items" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let header of tableHeader">{{header.title}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let let-item>
    <tr>
        <td *ngFor="let col of tableHeader">
          <app-table-date  [content]="item[col.name]" [type]="col.type"></app-table-date>
        </td>
    </tr>
</ng-template>
</p-table>
